body {
  background-color: lightgrey;
  margin-top: 0;
  margin-bottom: 0;
}

.parent-1 {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-bottom: 35px;
  padding-left: 45px;
  padding-right: 10px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: teal;
}

.div-1 {
  width: 50%;
  padding-left: 10px;
}

#logo {
  color: white;
  font-size: 20px;
}

.div-2 {
  width: 50%;
  margin-top: 10px;
}

li {
  display: inline;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 8px;
  font-size: 20px;
  list-style-type: none;
}

.parent-2 {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(246, 241, 241);
}

.div-3 {
  align-items: center;
  width: 40%;
  font-size: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-left: 80px;
  margin-top: 10px;

}

.div-4 {
  width: 60%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 10px;
  width: 500px;
}

.img-1 {
  width: 100%;
}

.parent-3 {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(246, 241, 241);
}

.div-5 {
  border-width: 1px;
  border-style: solid;
  border-color: white;
  padding-left: 80px;
  padding-right: 10px;
  width: 75%;
}

.div-6 {
  padding-left: 10px;
  padding-right: 50px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  width: 25%;
}

.parent-4 {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(246, 241, 241);
}

.child-1 {
  padding-left: 80px;
}

.child-2{
  display: flex;
  flex-direction: row;
  padding-left: 80px;
}

.grandchild {
  margin-right: 5px;
  width: 25%;
}

.images {
  width: 100%;
  height: 125px;
  object-fit: cover;
}

button {
  background-color: rgb(88, 87, 87);
  color: white;
  padding: 5px;
  border-style: none;
}

@media screen and (max-width: 480px) {
  .parent-1 {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 5px;
    padding-left: 0;
  }

  .div-1 {
    width: 100%;
  }
  
  #logo {
    font-size: 15px;
  }

  li {
    display: block;
  }

  a {
    font-size: 15px;
  }

  .parent-2 {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
  }

  .div-3 {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 15px;
    width: 100%;
    text-align: center;
  }

  .div-4 {
    width: 100%;
  }

  .img-1 {
    width: 100%;
  }

  .parent-3 {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
  }

  .div-5 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    text-align: center;
  }

  .div-6 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }

  .parent-4 {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
  }

  .child-1 {
    padding-left: 0px;
    text-align: center;
  }

  .child-2 {
    display: block;
    padding-left: 50px;
  }

  .grandchild {
    width: 100%;
    padding-top: 20px;
  }

  .images {
    width: 75%;
    height: 125px;
  }

}




